* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#cabeçalho {
	width: 100vw;
	border-bottom: 1px solid rgb(192, 192, 192);
}
img {
	max-width: 100%
	display: block;
	
}

.container {
	align-items: center;
	display: flex;
	height: 80px;
	max-width: 1400px;
	margin: 0px auto;
	padding: 24px;
	justify-content: space-between;
}

nav a {
	text-decoration: none;
	margin-left: 20px;
	color: black;
	font-weight: 500;
	font-size: 18px;
}

.boasvindas{
	border-radius: 6px;
	cursor: pointer;
	margin: 20px;
	padding: 2px;
	background-color: rgb(195, 229, 240);
	color:rgb(74, 171, 250);
}

#corpoprincipal{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 1100px;
}

#corpoprincipal h1{
	color: gray-color-1;
	font-size: 30px;
	font-weight: 800;
	margin: 15px;
}

#butao1 {
	display: block;
	margin: 22px;
	padding: 14px;
	border: 16;
	font-size: 30;
	color: aliceblue;
	background-color: rgb(74, 171, 250);
	width: 200px;
	align-items: center;
	text-align: center;
	text-decoration: none;
	border-radius: 10px;
}

#butao2 {
	display: block;
	text-decoration: none;
	color: rgb(104, 210, 245);
	font-size: 15px;
	margin: 10px;
}

#modulos h2{
	font-size: 20;
	text-align: center;
	padding: 10px;
}

.subtitle {
	text-align: center;
	padding: auto;
}

.modules {
  text-align: center;
  padding: 60px 20px;
  background-color: #fafafa;
}

.modules h3 {
  font-size: 1.8rem;
  font-weight: 700;
}

.subtitle {
  color: #666;
  font-size: 0.95rem;
  margin-bottom: 40px;
}

.module-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
  max-width: 1000px;
  margin: 0 auto;
}

.module-list article {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  text-align: left;
}

.plans h3 {
	text-align: center;
	background-color: #fafafa;

}

